.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color:black;
}
.direction{
    font-family:  'Times New Roman', Times, serif;
    font-size:small;
}

.direction:hover{
    background-color: bisque;
    color:blue;
}
.Horster{
    color:crimson;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Billing{
    color:blueviolet;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Stockmann{
    color:chartreuse;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
    .cast-table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px; 
    }
    .cast-table th, .cast-table td {
        border: 1px solid #000;
        padding: 8px;
        text-align: center;
    }
    .cast-table th {
        background-color: palevioletred;
    }
    .cast-table tr:nth-child(even) {
        background-color: white;
    }
    
    

    
    
    
    
