.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color:black;
}
.direction{
    background-color: rgb(166, 184, 170);
    font-family:  'Times New Roman', Times, serif;
    font-size:small;
    color: black;
}

.direction:hover{
    background-color: bisque;
    color:blue;
}
.Horster{
    color:crimson;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Billing{
    color:blueviolet;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Stockmann{
    color:chartreuse;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 60px; 
}

 table {
    border-collapse: collapse;
    width: 50%;
    margin: 60px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

table th {
    background-color:gray;
    padding-top: 12px;
    padding-bottom: 12px;
}

table tbody tr:nth-child(even) {
    background-color:  #f2f2f2;
}

.Horster:hover {
    color: rgb(9, 24, 239);
    text-shadow: 3px 2px 3px rgb(48, 163, 121);
    background-color: rgb(96, 140, 34);
    filter: blur(1px);
}

.Stockmann:hover {
    color: rgb(139, 34, 93);
    text-shadow: 3px 2px 3px rgb(56, 56, 160);
    background-color: rgb(202, 75, 227);
    filter: blur(1px);
}
.Billing:hover {
    color: rgb(139, 34, 93);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    background-color: rgb(23, 165, 37); 
    filter:blur(1px);
}


.img{
    width: 170px;
    height: 300px;
    margin-top: 40px;
  margin-bottom: 11px;
    margin-right: 100px;
   margin-left: 80px;
  }
  
.navbar {
    background-color: #2a0f0f;
    color: white;
    float:left;
    text-align: center;
    display:black;
    padding: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px; 
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d62929;
  }
  
  li {
    float: left;
  }

.navbar a:hover {
    text-decoration: underline;
}
    
    
    
    
