.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color:black;

}
.direction{
    font-family:  'Times New Roman', Times, serif;
    font-size:small;

}

.direction:hover{
    background-color: bisque;
    color:blue;
}
.MARY{
    color:crimson;
    font-size: 40px;
    font:italic;
    font-style: normal;
    filter:invert(0.6);
}
.OLLIVANT{
    color:blueviolet;
    font-size: 40px;
    font:bold;
    font-style: normal;
    filter:invert(0.6);
}