.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color:black;
}
.direction{
    font-family:  'Times New Roman', Times, serif;
    font-size:small;
}

.direction:hover{
    background-color: bisque;
    color:blue;
}
.Horster{
    color:crimson;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Billing{
    color:blueviolet;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.Stockmann{
    color:chartreuse;
    font-size: 20px;
    font:bold;
    font-style: normal;
}
.table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 60px; 
}

 table {
    border-collapse: collapse;
    width: 50%;
    margin: 60px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    word-wrap: break-word;
}

table th {
    background-color:gray;
    padding-top: 12px;
    padding-bottom: 12px;
}

table tbody tr:nth-child(even) {
    background-color:  #f2f2f2;
}

.brovik:hover {
    color: rgb(9, 24, 239);
    text-shadow: 3px 2px 3px rgb(48, 163, 121);
    background-color: rgb(96, 140, 34);
}

.solness:hover {
    color: rgb(139, 34, 93);
    text-shadow: 3px 2px 3px rgb(56, 56, 160);
    background-color: rgb(59, 187, 117);
}
   

    
    
    
    
